<%- include('../partials/header') %> 


<form action="/books/search" method="POST" class="searchBar w-25">
    <div class="input-group mb-3">
    <input type="text" class="form-control" name="query" placeholder="Search for a book..." aria-describedby="button-addon" id="searchField">
    <button type="submit" type="button" class="btn btn-dark" id="button-addon">Search</button>
  </div>
</form> 

<% if (results){ %>
  <div class="card-page">
    <% results.forEach((book) => { %>
      <div class="card mb-3 cardModule" style="max-width: 540px;">
        <a href="/books/<%= book.id %>">
          <div class="row g-0">
            <div class="col-md-4 my-auto">
              <% if(!book.volumeInfo.imageLinks){%>
                <img src="https://source.unsplash.com/random/128x197/?books,library" alt="...">
              <% } else { %>
                <img src="<%=book.volumeInfo.imageLinks.thumbnail %>" alt="">
              <% } %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title line-clampTitle"><%= book.volumeInfo.title %></h5>
                <p class="card-text"><small class="text-muted"><%= book.volumeInfo.authors %></small></p>
                <div id="card-description">
                  <div class="card-text line-clamp"><%= book.volumeInfo.description %></div> 
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% }) %> 
  </div>
<% } else { %>
  <h4>Here are some ideas to get you started...</h4>
  <div class="card-page">
    <% randomBooks.forEach((book) => { %>
      <div class="card mb-3 cardModule" style="max-width: 540px;">
        <a href="/books/<%= book.googleBooksId %>">
          <div class="row g-0">
            <div class="col-md-4 my-auto">
              <% if(!book.bookImage){%>
                <img src="https://source.unsplash.com/random/128x197/?books,library" alt="...">
              <% } else { %>
                <img src="<%=book.bookImage %>" alt="">
              <% } %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title line-clampTitle"><%= book.title %></h5>
                <p class="card-text"><small class="text-muted"><%= book.author %></small></p>
                <div id="card-description">
                  <div class="card-text line-clamp"><%= book.description %></div> 
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% }) %> 
  </div>
<% } %> 
 

<%- include('../partials/footer') %> 