<%- include('../partials/header') %> 

<h1>This is the Book Details/Show Page</h1>

<% console.log(book) %> 

<p><%= book.id %> 
</p>
<p>Title: <%= book.volumeInfo.title %> </p>
<p>Author: <%= book.volumeInfo.authors %> </p>
<p>Published: <%= book.volumeInfo.publishedDate %> </p>
<p>Description: <%= book.volumeInfo.description %> </p>

<p>Cover Art: 
  <% if(!book.volumeInfo.imageLinks){%>
    <p>No image available</p>
  
  <% } else { %> 
   

    <img src="<%=book.volumeInfo.imageLinks.thumbnail %>" alt="Book Image">
    <% } %>

  <form action="/collections/<%=user.collections[0]._id%>/addBook?_method=PUT" method="POST">
    <input type="text" hidden name="title" value="<%= book.volumeInfo.title %>">
    <input type="text" hidden name="author" value="<%=book.volumeInfo.authors %>">
    <% if (book.volumeInfo.imageLinks){ %>
      <input type="text" hidden name="bookImage" value="<%= book.volumeInfo.imageLinks.thumbnail %>">
    <% } else { %>
      <input type="text" hidden name="bookImage" value="https://unsplash.com/photos/zvKx6ixUhWQ/200x200">
    <% } %> 
    <input type="text" hidden name="publishedDate" value="<%= book.volumeInfo.publishedDate %>">
    <input type="text" hidden name="description" value="<%= book.volumeInfo.description %>">
    <input type="text" hidden name="googleBooksId" value="<%= book.id %>">
    <button type='submit'>Add to My Books</button>
  </form>


</p>

<%- include('../partials/footer') %> 