<%- include('../partials/header') %> 

<h1>This is the Collection Index Page</h1>
<% user.collections.forEach((collection) => { %>

  <p>Title: <%= collection.title %> </p>
  <img src="<%= collection.cardImage %> " alt=""> 
  <a href="/collections/<%= collection._id %>">Details</a>

<% }) %> 

<%- include('../partials/footer') %> 