<%- include('../partials/header') %> 

<h1>This is a Collection Show Page</h1>
<%= collection.title %> 
<a href="/collections/<%= collection.id %>/edit">Edit this Collection</a>

<% if(collection.books.length === 0){ %>
  <p>No Books Yet!</p> 
<% } else { %>

  <% collection.books.forEach((book) => { %>
  <a href="/books/<%=book.googleBooksId%>"><%= book.title %></a> 
  <img src="<%= book.bookImage %> " alt="">
  
  <% }) %> 
<% } %> 


<%- include('../partials/footer') %> 