<%- include('../partials/header') %> 

<h1>This is the User Profile Page</h1>

<%= user.name %> 
<img src="<%= user.avatar %> " alt=""> 
<%= user.bio %> 

<a href="/users/profile/edit">Edit Your Profile</a>

<%- include('../partials/footer') %> 